.car__card {
    cursor: pointer;
    position: relative;
    background: var(--background-color);
    padding: var(--offset-m) var(--offset-xl);
    display: flex;
    flex-direction: column;
    row-gap: var(--offset-xs);
    border-radius: var(--border-radius-l);
    box-shadow: 0 0 6px 0 var(--color-shadow);

    &:hover {
        transition: 0.5s;
        box-shadow: 0 0 6px 0 var(--color-shadow-contrast);
    }

    &_name {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_status {
        color: white;
        border-radius: var(--border-radius-s);
        padding: 4px 6px;
        font-size: 14px;

        background: #ff2400;

        &-free {
            background: green;
        }
    }

    &_number {
        color: var(--color-grey);
    }

    &_teacher {
        height: 40px;
    }

    &_actions {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
