.car__card {
   background: var(--background-color);
   padding: var(--offset-m) var(--offset-xl);
   display: flex;
   flex-direction: column;
   row-gap: var(--offset-xs);
   border-radius: var(--border-radius-l);
   box-shadow: 0 0 6px 0 var(--color-shadow);

   &_name {
      font-size: 20px;
      font-weight: bold;
   }

   &_number {
      color: var(--color-grey);
   }

   &_teacher {
      height: 40px;
   }
}