.list__View {
   max-height: 100%;
   overflow-y: auto;
   overflow-x: hidden;

   &_container {
      display: flex;
      flex-direction: column;
      padding: 6px;
      gap: 6px;
   }

   &_item {
      font-size: 16px;
      padding: var(--offset-xs) var(--offset-m);
      position: relative;
      display: flex;
      align-items: center;
      border-radius: var(--border-radius-s);

      &-horizontalPaddings {
         &_l {
            padding-left: var(--offset-l);
            padding-right: var(--offset-l);
         }

         &_m {
            padding-left: var(--offset-m);
            padding-right: var(--offset-m);
         }

         &_s {
            padding-left: var(--offset-s);
            padding-right: var(--offset-s);
         }

         &_xs {
            padding-left: var(--offset-xs);
            padding-right: var(--offset-xs);
         }

         &_2xs {
            padding-left: var(--offset-2xs);
            padding-right: var(--offset-2xs);
         }
      }

      &-selected {
         font-weight: bold;
         background: var(--background-color);
         box-shadow: 0 0 6px var(--color-shadow);
      }

      &:hover:not(&-unselect) {
         cursor: pointer;
         background: var(--background-color);
         box-shadow: 0 0 6px var(--color-shadow);
      }
   }
}
