.button {
  line-height: var(--height-line-m);
  border-radius: var(--border-radius-m);
  cursor: pointer;

  &__container {
    display: flex;
    align-items: center;
    gap: 6px;

    &-viewMode {
      &_default {
        padding: var(--offset-3xs) var(--offset-xl);
        line-height: 24px;
        border-radius: var(--border-radius-s);
        font-size: 16px;
      }
    }

    &-style {
      &_primary {
        background: var(--background-color-primary);
        color: white;
      }

      &_unaccented {
        background: var(--background-color-grey);
        color: var(--text-color-unaccented)
      }
    }

    &-disabled {
      color: var(--text-color-unaccented);
      background: var(--background-color-unaccented);
    }
  }
}
