@mixin icon_svg($name) {
  content: url('~shared/assets/icons/' + $name + '.svg');
}

.Icon {
  width: 32px;
  height: 32px;
  position: relative;

  &-plus {
    @include icon_svg('plus');
  }

  &-close {
    @include icon_svg('close')
  }

  &_size- {
    &s {
      width: 24px;
      height: 24px;
    }

    &m {
      width: 32px;
      height: 32px;
    }
  }
}
