@mixin icon_svg($name) {
    content: url('~shared/assets/icons/' + $name + '.svg');
}

.Icon {
    width: 32px;
    height: 32px;
    position: relative;

    &-plus {
        @include icon_svg('plus');
    }

    &-close {
        @include icon_svg('close');
    }

    &-plus-group {
        @include icon_svg('plus-group');
    }

    &-action {
        @include icon_svg('action');
    }

    &-info {
        @include icon_svg('info');
    }

    &-size_ {
        &s {
            width: 16px;
            height: 16px;
        }

        &m {
            width: 20px;
            height: 20px;
        }
    }
}
