.Day {
    width: 100%;
    overflow: hidden;
}
.half-hours {
    display: grid;
    grid-auto-rows: 50px;
    gap: 1px;
    grid-template-columns: 100%;
    border-radius: var(--border-radius-s);
}

.half-hour {
    background: var(--background-color-grey);
}

.time-label {
    padding-left: 10px;
}
