.Lesson {
    height: 100%;
    width: 100%;
    padding: 8px 8px 8px 0;

    &__wrapper {
        position: relative;
        display: grid;
        overflow: hidden;
        grid-template-columns: 100%;
        border-left: 2px solid var(--color-primary);
        box-shadow: 0 0 6px var(--color-shadow);
        background: #edf6ff;
        border-top-right-radius: var(--border-radius-s);
        border-bottom-right-radius: var(--border-radius-s);
        height: 100%;
        padding: 4px 12px;

        &:hover {
            background: var(--background-color-primary);
            color: white;
            cursor: pointer;

            .Lesson__milk {
                background: linear-gradient(transparent 0, var(--background-color-primary) 20px, var(--background-color-primary))
            }
        }
    }

    &__time {
        font-weight: bold;
    }

    &__name {
        max-height: 100%;
        margin-top: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__milk {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 30px;
        background: linear-gradient(transparent 0, #edf6ff 20px, #edf6ff)
    }
}
