.Weekday {
    border-radius: var(--border-radius-m);
    background: var(--background-color);
    box-shadow: 0 0 var(--border-radius-s) var(--color-shadow);
    width: 100%;
    padding: var(--offset-m);
    display: grid;
    grid-template-rows: auto 1fr;

    &__controls {
        display: flex;
        justify-content: space-between;

        &__year {
            font-size: 20px;
            font-weight: bold;
        }

        &__buttons {
            display: flex;
            gap: var(--offset-s);
        }
    }

    &__calendar {
        max-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr;
        flex-direction: column;
        overflow: scroll;

        &__names,
        &__times {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: auto repeat(7, 1fr);
            gap: var(--offset-m);
            width: 100%;
            margin-top: var(--offset-m);
        }

        &__names-fake {
            visibility: hidden;
            min-width: 100px;
        }

        &__times {
            max-height: 100%;
            overflow: scroll;

            &-fake {
                min-width: 100px;
                max-width: 100px;
            }
        }
    }
}

.weekday__day {
    width: 100%;
    background: var(--background-color-grey);
    padding: var(--offset-s);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-radius-m);
    box-shadow: 0 0 var(--border-radius-s) var(--color-shadow);
    text-align: center;

    &-current {
        background: var(--background-color-primary);
        color: white;
    }

    &__name {
        font-weight: bold;
    }
}
