$background: #2C3E50;
$color-unaccented: #E9EBEC;
$color-selected: #273748;
$color-hover: #3E5266;

$width: 200px;
$color: #fff;

.accordion {
  background: $background;
  width: $width;
  padding: 6px;

  &__logo {
    margin-bottom: 8px;

    &_title {
      font-size: 24px;
      color: $color;
    }

    &_icon {
      // TODO
    }
  }

  &__pages {
    display: flex;
    flex-direction: column;

    &_item {
      display: flex;
      align-items: center;
      height: 40px;
      font-size: 16px;
      color: $color-unaccented;
      padding: 4px 6px;
      border-radius: 8px;

      &-selected {
        background: $color-selected;
        color: $color;
      }

      &:hover {
        background: $color-hover;
      }
    }
  }
}