.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1 1;
    min-height: 0;
  }

  &__header {
    height: 60px;
    display: flex;
    align-items: center;

    &_buttons {
      margin-left: 16px;
      display: flex;
      gap: 12px;
    }
  }
}
